services:
  - type: web
    name: socialex-api
    env: node
    plan: free
    rootDir: server
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true

staticSites:
  - name: socialex-client
    rootDir: client
    buildCommand: npm install && npm run build
    publishDir: dist
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: socialex-api
          property: url
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
